{% macro blogPost(post) %}

	<div class="post" data-ks-editable="editable(user, { list: " Post ", id: post.id })">
			<article>
					<div class="post-thumb">
							{% if post.image.exists %}
								<img src="{{ post._.image.fit(250,250) }}" alt="">
								<a href="/blog/post/{{ post.slug }}" class="post-thumb-overlay text-center">
									<div class="text-uppercase text-center">View Post</div>
								</a>
							{% endif %}
					</div><!-- /.post-thumb -->


					<div class="post-content">
						<header class="entry-header text-center text-uppercase">

							{% if post.categories and post.categories.length %}
								<br>{% for cat in post.categories %}<h6><a href="/blog/{{ cat.key }}">{{ cat.name }}</a></h6>{% if loop.index < post.categories.length %}, {% endif %}{% endfor %}
							{% endif %}

							<h1 class="entry-title"><a href="/blog/post/{{ post.slug }}">{{ post.title }}</a></h1>
						</header>

						<div class="entry-content">
							<p>{{ post.content.brief|safe }}</p>
						</div><!-- /.entry-content -->


						{% if post.content.extended %}
											<div class="btn-continue-reading text-center text-uppercase">
												<a class="more-link" href="/blog/post/{{ post.slug }}">Continue Reading</a>
											</div>
						{% endif %}

							<div class="social-share">
								<p class="lead text-muted">
									{% if post.publishedDate %}
										<span class="social-share-title pull-left text-capitalize">{{ post._.publishedDate.format("MMMM Do, YYYY") }}</span>
									{% endif %}
									<!--{% if post.author %}-->
										<!--<br>by {{ post.author.name.first }}-->
									<!--{% endif %}-->
								</p>
							</div><!-- /.social-share -->

					</div><!-- /.post-content -->

				</article>
	</div><!-- /.post data-ks-editable -->

	{% endmacro %}




  {% block intro %}
    <div class="container">
      {% set title = ( data.category.name if data.category else "" ) %}
      <h1>{{ title }}</h1>
    </div>
  {% endblock %}



    {% block content %}
    <!--main content start-->
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
          {% if filters.category and not data.category %}
            <h3 class="text-muted">Invalid Category.</h3>
          {% else %}
            {% if data.posts.results.length %}
              {% if data.posts.totalPages > 1 %}
                <h4 class="text-weight-normal">
                  Showing
                  <strong>{{ data.posts.first }}</strong>
                  to
                  <strong>{{ data.posts.last }}</strong>
                  of
                  <strong>{{ data.posts.total }}</strong>
                  posts.
                </h4>
              {% else %}
                <!--<h4 class="text-weight-normal">Showing {{ utils.plural(data.posts.results.length, "* post") }}.</h4>-->
              {% endif %}
              <div class="blog">
                {% for post in data.posts.results %} {{ blogPost(post) }} {% endfor %}
              </div><!-- /.blog -->
              {% if data.posts.totalPages > 1 %}
                <ul class="pagination">
                  
                  {% if data.posts.previous %}
                    <li>
                      <a href="?page={{ data.posts.previous }}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                    </li>
                  {% else %}
                    <li class="disabled">
                      <a href="?page=1">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                    </li>
                  {% endif %}

                  {% for p in data.posts.pages %} {% set class = ( "active" if data.posts.currentPage == p else "" ) %}
                    <li class="{{ class }}">
                      {% set page = ( (data.posts.totalPages if i else 1) if p == "..." else p ) %}
                      <a href="?page={{ page }}">{{ p }}</a>
                    </li>
                  {% endfor %}

                  {% if data.posts.next %}
                    <li>
                      <a href="?page={{ data.posts.next }}">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                    </li>
                  {% else %}
                    <li class="disabled">
                      <a href="?page={{ data.posts.totalPages }}">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                    </li>
                  {% endif %}

                </ul>
              {% endif %}
            {% else %}
              {% if data.category %}
                <h3 class="text-muted">There are no posts in the category {{ data.category.name }}.</h3>
              {% else %}
                <h3 class="text-muted">There are no posts yet.</h3>
              {% endif %}
            {% endif %}
          {% endif %}
        </div><!-- /.col-md-8 -->

        <!--{% if data.categories.length %}
          <div class="col-sm-4 col-md-3">
            <h2>Categories</h2>
            <div class="list-group" style="margin-top: 70px;">
              {% set class = ( "active" if not data.category else "" ) %}
              <a href="/blog" class="{{ class }} list-group-item">All Categories</a>
              {% for cat in data.categories %} {% set class = ( "active" if data.category and data.category.id == cat.id else "" ) %}
                <a href="/blog/{{ cat.key }}" class="{{ class }} list-group-item">{{ cat.name }}</a>
              {% endfor %}
            </div>
          </div>
        {% endif %}-->


    {% include "layouts/_sidebar.html" %}

      </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.main-content --> 

{% endblock %}