{% import "mixins/flash-messages.html" as FM %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	 <!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
{% if data.post %}
	<title>{{data.post.title}}</title>
	<!--Pinterest - This lets you see what people are saving from your site and adds your logo to any Pin that came from your site -->
	<meta name="p:domain_verify" content="b4966c3cdb2a4a03b449d3d38d567e08"/>
	<meta property="og:title" content="{{data.post.title}}">
	<meta name="twitter:title" content="{{data.post.title}}">
	<meta name="description" content="{{data.post.content.brief}}">
	<meta property="og:description" content="{{data.post.content.brief}}">
	<meta name="twitter:description" content="{{data.post.content.brief}}">
	<meta property="og:type" content="article">
	<meta name="twitter:card" content="summary_large_image">
	<meta property="og:image" content="{{data.post.image.url}}">
	<meta name="twitter:image:src" content="{{data.post.image.url}}">
	<meta property="og:url" content="{{data.post.fullPostUrl}}">
	<meta name="twitter:url" content="{{data.post.fullPostUrl}}">
	<meta property="og:site_name" content="stephaniemankarios.com" />
	<meta property="article:published_time" content="{{data.post.publishedDate}}">
	<meta property="article:author" content="Stephanie Mankarios" />
{% else %}
	<meta name="description" content="I help people create change and grow, to feel happiness, find purpose and inner peace. I am a Self Development Coach and a Mindfulness Yoga &amp; Meditation Teacher">   
	<meta property="og:site_name" content="stephaniemankarios.com" />
	<meta property="og:image" content="{{baseUrl}}/images/logo.png">
	<meta name="twitter:image:src" content="{{baseUrl}}/images/logo.png">
	<meta name="keywords" content="self development, mindfulness yoga, meditation teacher, bay area">
{% endif %}    

		{% block title %}
			<title>{{ title }}</title>
		{% endblock %}

		
	<!-- common css -->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


		{# Customise the stylesheet for your site by editing /public/styles/site.sass #}
		<link href="/styles/site.css" rel="stylesheet">

		{# This file provides the default styling for the KeystoneJS Content Editor #}
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}


		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}
		{% endblock %}


		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %} {% endblock %}


<!-- custom fonts -->
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body>

	<nav class="navbar main-menu navbar-default" style="box-sizing: content-box;">
		<div class="container">
			<div class="menu-content">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
					<a class="navbar-brand" href="/">
						<img src="/images/logo.png"
								alt="logo"></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					{# Customize your site"s navigation by changing the navLinks Array in ./routes/middleware.js
			   ... or completely change this header to suit your design. #}
					<ul class="nav navbar-nav text-uppercase">
						{% for link in navLinks %}
								<li class="{{ 'active' if link.key == section else '' }}">
									<a href="{{ link.href }}">{{ link.label }}</a>
								</li>
							{% endfor %}
							
							<!--{% if user %}
								{% if user.canAccessKeystone %}
								<li><a href="/keystone">Open Keystone</a></li>
								{% endif %}
								<li><a href="/keystone/signout">Sign Out</a></li>
							{% else %}
								<li><a href="/keystone/signin">Sign In</a></li>
							{% endif %}-->
					</ul>



					<div class="i_con">
						<!--<a href="#"><i class="fa fa-facebook"></i></a>-->
						<a href="https://www.twitter.com/s_mankarios" target="_blank"><i class="fa fa-twitter"></i></a>
						<a href="https://www.instagram.com/stephaniemankarios/" target="_blank"><i class="fa fa-instagram"></i></a>
						<a href="https://www.youtube.com/channel/UC-9Jl8Mz-Ia0req6-npPk-g" target="_blank"><i class="fa fa-youtube"></i></a>
						<a href="https://www.pinterest.com/stephmankarios/" target="_blank"><i class="fa fa-pinterest"></i></a>
						<!--<a href="index-list.html#"><i class="fa fa-heart"></i></a>-->
						<!--<div class="top-search">-->
						<!--<a href="index-list.html#"><i class="fa fa-search"></i></a>-->
					</div>
				</div>
			</div>
			<!-- /.navbar-collapse -->
			<!--<div class="show-search">
                    <form role="search" method="get" id="searchform" action="#">
                        <div>
                            <input type="text" placeholder="Search and hit enter..." name="s" id="s">
                        </div>
                    </form>
                </div>-->
		</div>
		<!-- /.container-fluid -->
	</nav>

<a id="button-back-to-top"></a>



{% block content %} {% endblock %}



<section class="section secondary thin-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center" style="font-family: libre-baskerville-regular">“Nothing is to be feared, it is only to be understood.” - Marie Curie</h2>
			</div>
		</div>
	</div>
</section>




<section class="section secondary thin-gray">
	<div class="container">
		<h2 class="section-title">Get connected. Be inspired.</h2>
		<!--<div class="section-description">-->
			<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in iaculis metus, non viverra nunc.</p>-->
		<!--</div>-->
		<div class="section-body">
			<div class="social text-center">
				<!--<a href="#" target="_blank" class="facebook large opacity">Facebook</a>-->
				<a href="https://twitter.com/s_mankarios" target="_blank" class="twitter large opacity">Twitter</a>
				<a href="https://www.instagram.com/stephaniemankarios/" target="_blank" class="instagram large opacity">Instagram</a>
				<a href="https://www.youtube.com/channel/UC-9Jl8Mz-Ia0req6-npPk-g" target="_blank" class="youtube large opacity">Youtube</a>
				<a href="https://www.pinterest.com/stephmankarios/" target="_blank" class="pinterest large opacity">Pinterest</a>
				<!--				<a href="#" target="_blank" class="medium1 large opacity">Medium</a> </div>-->
				<!-- social -->
			</div>
		</div>
</section>
	
	
<!--footer start-->
<footer class="footer-widget-section">


<div class="testimonials">
{% block testimonails %} {% endblock %}
</div>

		<div class="footer-copy">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="text-center">&copy; 2017 Stephanie Mankarios. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>


	{# The KeystoneJS Content Editor provides support for ks-editable data attributes,
		which generate links to edit content for users who can access Keystone #}
		{% if user and user.canAccessKeystone %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}

		{# Add scripts that are globally required by your site here. #}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript"src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
	<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/js/back-to-top.js"></script>
	<!--<script type="text/javascript" src="/js/jquery.stickit.min.js"></script>-->
	<script type="text/javascript" src="/js/menu.js"></script>
	<script type="text/javascript" src="/js/scripts.js"></script>
	<script type="text/javascript" src="/js/tipuesearch/tipuesearch_content.js"></script>
	<!--<link rel="stylesheet" href="/js/tipuesearch/css/tipuesearch.css">-->
	<script type="text/javascript" src="/js/tipuesearch/tipuesearch_set.js"></script>
	<script type="text/javascript" src="/js/tipuesearch/tipuesearch.min.js"></script>

	<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
	<script type="text/javascript" src="/js/uploadimage/plugin.min.js"></script>

	{# Include template-specific javascript files by extending the js block #}
	{% block js %}{% endblock %}

</body>


<script>
$(document).ready(function() {
     $('#tipue_search_input').tipuesearch({
          'mode': 'live'
     });
});
</script>



</html>
