{% extends "layouts/default.html" %} {% macro blogPost(post) %}


<!--main content start-->
<div class="main-content">
	<div class="container">
		<div class="row">
			<div class="col-md-8">


				<!-- 30 Days Without Sugar -->
				<article class="post">
					<div class="post-thumb">


						<!-- IMAGE -->
						<img src="assets/images/blog/30-days-without-sugar.jpg" alt="">

						<a href="30-days-without-sugar.html" class="post-thumb-overlay text-center">
							<div class="text-uppercase text-center">View Post</div>
						</a>

					</div><!-- /.post-thumb -->
					<div class="post-content">

						<header class="entry-header text-center text-uppercase">
							<h6>Health &amp; Wellness</h6>

							<h1 class="entry-title"><a href="30-days-without-sugar.html">How 30 Days Without Sugar Has Positively Shifted My Life!</a></h1>
						</header>

						<div class="entry-content">
							<p>I never imagined the extent to which sugar was affecting my life, until I stopped it. </p>


							<p>And trust me, I really didn't think I was eating much sugar to begin with. </p>


							<p>Now you might be thinking…why the heck would you completely stop eating sugar (it's in almost everything),right?</p>


							<p>Well friend, here is my story: </p>

							<p>I recently started working with a Functional Health Practitioner (best decision I ever made btw, and after running
								some tests, we uncovered that my gut is…in the least scary terms possible, not in such good shape</p>

							<p>I have 2 things: </p>

							<ul>
								<li>A parasite called Blastocystis hominis (yuck, right?). According to Wikipedia, it is one of the most common human
									parasites in the world, and is THE most common parasitic infection in the United States. </li>

								<li>Candida Albicans, which is a fungus, is detectable in the gastrointestinal tract in 40% of healthy adults, according
									to wikipedia. </li>
							</ul>

							<p>Yup, scary, I know.</p>

							<p><strong>The good news is</strong>, I can get rid of these by ... </p>

							<div class="btn-continue-reading text-center text-uppercase">
								<a href="30-days-without-sugar.html" class="more-link">Continue Reading</a>
							</div>
						</div><!-- /.entry-content -->
						<div class="social-share">
							<span class="social-share-title pull-left text-capitalize">April 20, 2017</span>
						</div>
					</div><!-- /.post-content -->
				</article>


			</div>
			<!-- /.col-md-8 -->

			{% include "partials/sidebar.njk" %}

		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</div>
<!-- /.main-content -->




{% endblock %}
